<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="../../static/style_detail.css">
</head>
<body>
<div id="detail_header">
    <h1>상세 정보</h1>
</div>

<div class="form-group">
    <label for="detail_welcome_id">순번</label>
    <input type="text" id="detail_welcome_id" readonly/>
</div>

<div class="form-group">
    <label for="detail_welcome_author">이름</label>
    <input type="text" id="detail_welcome_author" readonly/>
</div>

<div class="form-group">
    <label for="detail_welcome_gender">성별</label>
    <input type="text" id="detail_welcome_gender" readonly/>
</div>

<div class="form-group">
    <label for="detail_welcome_email">이메일</label>
    <input type="text" id="detail_welcome_email" readonly/>
</div>

<div class="form-group">
    <label for="detail_welcome_phone">전화번호</label>
    <input type="text" id="detail_welcome_phone" readonly/>
</div>

<div class="form-group">
    <label for="detail_welcome_address">주소</label>
    <input type="text" id="detail_welcome_address" readonly/>
</div>

<div class="form-group">
    <label for="detail_welcome_baptismType">유아/성인 세례</label>
    <input type="text" id="detail_welcome_baptismType" readonly/>
</div>

<div class="form-group">
    <label for="detail_welcome_marriageType">결혼 여부</label>
    <input type="text" id="detail_welcome_marriageType" readonly/>
</div>

<div class="form-group">
    <label for="detail_welcome_relationship">관계</label>
    <input type="text" id="detail_welcome_relationship" readonly/>
</div>

<div class="form-group">
    <label for="detail_welcome_content">특이사항</label>
    <input type="text" id="detail_welcome_content"/>
</div>

<button onclick="update_welcome()">글 수정</button>
<button onclick="delete_welcome()">글 삭제</button>

<script>
    // URL에서 ID값 추출하기
    let temp_url = window.location.href;
    let split_temp_url = temp_url.split('/');
    let final_id = split_temp_url[split_temp_url.length - 1];
    let split_q = final_id.split("?");
    if(split_q.length > 0){
        final_id = split_q[0];
    }

    $(document).ready(function() {
        console.log("ready!");
        detail_welcome();
    });

    function detail_welcome(){
        $.ajax({
            url: "/api/welcome/detail",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            data: {
                id: final_id
            },
            cache: false,
            success: (obj_data, status, xhr) => {
                $("#detail_welcome_id").val(obj_data["id"]);
                $("#detail_welcome_author").val(obj_data["name"]);
                $("#detail_welcome_gender").val(obj_data["gender"]);
                $("#detail_welcome_email").val(obj_data["email"]);
                $("#detail_welcome_phone").val(obj_data["phone"]);
                $("#detail_welcome_address").val(obj_data["address"]);
                $("#detail_welcome_baptismType").val(obj_data["baptismType"]);
                $("#detail_welcome_marriageType").val(obj_data["marriageType"]);
                $("#detail_welcome_relationship").val(obj_data["relationship"]);
                $("#detail_welcome_content").val(obj_data["content"]);
            },
            error: (obj_data, status, xhr) => {
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }

    function update_welcome(){
        $.ajax({
            url: "/api/welcome/update",
            type: "POST", // POST로 변경
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                id: final_id,
                content: $("#detail_welcome_content").val()
            }),
            cache: false,
            success: (obj_data, status, xhr) => {
                alert(JSON.stringify(obj_data));
            },
            error: (obj_data, status, xhr) => {
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }

    function delete_welcome(){
        $.ajax({
            url: "/api/welcome/delete",
            type: "DELETE", // DELETE로 변경
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                id: final_id
            }),
            cache: false,
            success: (obj_data, status, xhr) => {
                alert(JSON.stringify(obj_data));
                // 삭제 후 다른 페이지로 리다이렉트할 수 있음
                window.location.href = '/welcome/list'; // 예시
            },
            error: (obj_data, status, xhr) => {
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
</script>
</body>
</html>
