<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<!--    <link rel="stylesheet" href="../../static/style_detail.css">-->


<body>
detail

<input type="text" id="detail_user_username" readonly/>
<input type="text" id="detail_user_password" readonly />
<input type="text" id="detail_user_name" />
<input type="text" id="detail_user_phone" />

<button onclick="update_user()">
    글 수정
</button>
<button onclick="delete_user()">
    글 삭제
</button>

<script>
    //url에서 id값 추출해오기!
    let temp_url = window.location.href;
    let split_temp_url = temp_url.split('/');
    let final_id = split_temp_url[split_temp_url.length - 1];
    let split_q = final_id.split("?");
    if(split_q.length > 0){
        final_id = split_q[0];
    }
    $( document ).ready(function() {
        console.log( "ready!" );
        detail_user();
    });

    function detail_user(){
        $.ajax({
            url: "/api/user/detail",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                id : final_id
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                /*
                alert(JSON.stringify(obj_data));
                {
                    "resultCode":200,
                    "detail_welcome":
                    {"author":"33","title":"44444","content":"22","order":1}}
                alert(obj_data["resultCode"]);
                alert(obj_data["detail_welcome"]["order"]);
                alert(obj_data["detail_welcome"]["title"]);
                alert(obj_data["detail_welcome"]["content"]);
                alert(obj_data["detail_welcome"]["author"]);
                 */
                //$("#detail_welcome_order").val(obj_data.order);
                $("#detail_user_username").val(obj_data["username"]);
                $("#detail_user_password").val(obj_data["password"]);
                $("#detail_user_name").val(obj_data["name"]);
                $("#detail_welcome_phone").val(obj_data["phone"]);
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }

    function update_user(){
        $.ajax({
            url: "/api/user/update",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                id : final_id
                ,username : $("#detail_user_username").val()
                ,password : $("#detail_user_password").val()
                ,name : $("#detail_user_name").val()
                ,phone: $("#detail_user_phone").val()
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
    function delete_user(){
        $.ajax({
            url: "/api/user/delete",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                id : final_id
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
</script>


</body>
</html>